/* Generated for Chrome v95.0.4638.54 on Linux */
/* Available weights for `Vazir`: 100, 300, 400, 500, 700, 900 */
@font-face {
    font-family: 'Vazir';
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/ce495b67e2481e56130b24331be5d37990f4ad6a29e74c7bd538a9e903405b9d.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
/*@font-face {*/
/*    font-family: 'Vazir';*/
/*    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/b50dbd2c0c825c5b4305d9a85cf853e6c3de99bb5e97dbd03a1137785de2d42c.woff2") format("woff2");*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/
@font-face {
    font-family: 'Vazir';
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/d63ef123ff06e9292cf85d4ee9614bbf4e1cc0f98a7ecd49593627f5d5e34dfd.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/289ba8ee81e02cdfedfea5cd66c59337d69b1e0f4c89d5297b01d1a0d67b79d4.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/2754108cc23ba5840270d19dc27f5a9876f51def0c5b565ff2650200daebd1fe.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
/*@font-face {*/
/*    font-family: 'Vazir';*/
/*    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/ef23fc4634173cd4e262bfecc3e25b2b22c9e08890f4ee41df37ed6fd5673faf.woff2") format("woff2");*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*}*/
/* Powered by FontServer.ir */
/* Page-generation Time: 0.001259 s | Memory Usage: 58,992 B */